<a href="https://colab.research.google.com/github/suhani1825/suhani1825/blob/main/Copy_of_practical_4_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practical No:4

In [1]:
import pandas as pd
student_data=pd.DataFrame({
    'School code':['S001','S002','S003','S002','S001','S004'],
    'Class':['B','B','A','B','B','A'],
    'Name':['sanika','suhani','mansi','palak','ram','vaibhav'],
    'Age':[50,34,27,10,25,42],
    'Height':[180,150,200,125,195,192],
    'Weight':[40,45,32,50,12,39],
},index=['s1','s2','s3','s4','s5','s6'])
print("Orignl data:\n",student_data)

Orignl data:
    School code Class     Name  Age  Height  Weight
s1        S001     B   sanika   50     180      40
s2        S002     B   suhani   34     150      45
s3        S003     A    mansi   27     200      32
s4        S002     B    palak   10     125      50
s5        S001     B      ram   25     195      12
s6        S004     A  vaibhav   42     192      39

In [ ]:
data=student_data.groupby('School code').agg({'Age':['mean','min','max']})
print(data)

              Age
             mean min max
School code
S001         37.5  25  50
S002         22.0  10  34
S003         27.0  27  27
S004         42.0  42  42

In [2]:
df=student_data.groupby(['School code','Class']).agg({'Height':['mean','max'],'Weight':['sum','mean','count']})
print(df)

                  Height      Weight
                    mean  max    sum  mean count
School code Class
S001        B      187.5  195     52  26.0     2
S002        B      137.5  150     95  47.5     2
S003        A      200.0  200     32  32.0     1
S004        A      192.0  192     39  39.0     1